.git
.idea/*
!/.idea/codeStyles/
!/.idea/dictionaries/
!/.idea/fileTemplates/
!/.idea/encodings.xml
!/.idea/externalDependencies.xml
!.phpstorm
/config.php
/config.dev.php
/config.prod.php
/test.config.php
/test.junit.xml
node_modules
var
vendor
Themes/*.lnk



## Refactorings done
#/Engine/Modules/Core/Statics.php
#/Engine/Modules/Core/Services/PingService.php
#/Engine/Modules/Core/Services/KeyValueStoreService.php
#/Engine/Modules/Core/Services/EndpointService.php
#/Engine/Modules/Core/Helper/ArrayHelper.php
#/Engine/Modules/Core/Helper/BinaryHelper.php
#/Engine/Modules/Core/Helper/PhpArrayFileWriter.php
#/Engine/Modules/Core/Helper/Cookie.php
#/Engine/Modules/Core/Helper/StringHelper.php
#/Engine/Modules/Core/Helper/FileSystemHelper.php
#/Engine/Modules/Core/Abstracts/AbstractModel.php
#/Engine/Modules/Core/Abstracts/AbstractController.php
#/Engine/Modules/Core/Abstracts/AbstractViewManager.php
#/Engine/Modules/Core/Abstracts/AbstractBootstrap.php
#/Engine/Modules/Core/Abstracts/AbstractInitializer.php
#/Engine/Modules/Core/Abstracts/AbstractTemplateManager.php
#/Engine/Modules/Core/Models/Store/KeyValue.php
#/Engine/Modules/Core/Models/Endpoints/Endpoint.php
#/Engine/Modules/Core/Exceptions/InvalidClassException.php
#/Engine/Modules/Core/Exceptions/LoggerAlreadyExistException.php
#/Engine/Modules/Core/Exceptions/ConfigElementAlreadyExistException.php
#/Engine/Modules/Core/Exceptions/ConfigOptionKeyNotExistException.php
#/Engine/Modules/Core/Exceptions/AlreadyExistException.php
#/Engine/Modules/Core/Exceptions/ConfigElementNotFoundException.php
#/Engine/Modules/Core/Exceptions/NotFoundException.php
#/Engine/Modules/Core/Exceptions/TemplateNotFoundException.php
#/Engine/Modules/Core/Exceptions/ParentNotFoundException.php
#/Engine/Modules/Core/Exceptions/ServiceAlreadyDefinedException.php
#/Engine/Modules/Core/Exceptions/ServiceNotFoundException.php
#/Engine/Modules/Core/Exceptions/PluginNotFoundException.php
#/Engine/Modules/Core/Exceptions/IllegalTemplateEngineException.php
#/Engine/Modules/Core/Exceptions/CouldNotInstallException.php
#/Engine/Modules/Core/Exceptions/CouldNotInstallModuleException.php
#/Engine/Modules/Core/Exceptions/CouldNotInstallPluginException.php
#/Engine/Modules/Core/Exceptions/CouldNotDeactivatePluginException.php
#/Engine/Modules/Core/Exceptions/CouldNotActivatePluginException.php
#/Engine/Modules/Core/Forge/Database/ForgeDatabase.php
#/Engine/Modules/Core/Forge/Database/DiscriminatorEntryListener.php
#/Engine/Modules/Core/Forge/ForgeSlimApp.php
#/Engine/Modules/Core/Forge/ForgeSettings.php
#/Engine/Modules/Core/Forge/Database/DiscriminatorEntry.php
#/Engine/Modules/Core/Models/Config/Config.php
#/Engine/Modules/Core/Models/Config/Value.php
#/Engine/Modules/Core/Services/ConfigService.php
#/Engine/Modules/SystemSettings/
#/Engine/Modules/Core/Manager/Logger/
#/Engine/Modules/Core/Services/MiddlewareService.php
#/Engine/Modules/Core/Exceptions/EncryptionException.php
#/Engine/Modules/Core/Services/EncryptionService.php
#/Engine/Modules/Core/Models/Plugin/Middleware.php
#/Engine/Modules/Core/Models/Plugin/Plugin.php
#/Engine/Modules/Core/Models/Module/Module.php
#/Engine/Modules/Core/.phpstorm/.phpstorm.meta.php
#/Engine/Modules/Core/Services/PluginAccessService.php
#/Engine/Modules/Core/Manager/Services/ServiceManager.php
