{% set snippet1 = item.scopes[language1]|default(null) %}
{% set snippet2 = item.scopes[language2]|default(null) %}
{% set includeRow = true %}
{% if filter != 'all' %}
    {% if filter == 'missing' %}
        {% set includeRow = (snippet1 == null) or (snippet2 == null) %}
    {% elseif filter == 'equals_name' %}
        {% set includeRow = false %}
        {% set tmpName = item.name %}
        {% for scope in item.scopes %}
            {% if tmpName == scope.value %}
                {% set includeRow = true %}
            {% endif %}
            {% set tmpName = scope.value %}
        {% endfor %}
    {% endif %}
{% endif %}
{% if includeRow %}
    <tr>
        <td>{{ item.name }}</td>
        <td>
            {% include 'Backend/I18n/Snippets/Components/Comparator/ItemEditor.twig' with {
                rowIndex: rowIndex,
                side: 'language1',
                snippet: snippet1,
                otherSnippet: snippet2,
                language: language1,
                name: item.name,
            } only %}
        </td>
        <td class="cell-center">
            {% include 'Backend/I18n/Snippets/Components/Comparator/ItemControl.twig' with {
                rowIndex: rowIndex,
                snippet: snippet1,
                side: 'language1'
            } only %}
        </td>
        <td class="cell-center group-actions">
            {% include 'Backend/I18n/Snippets/Components/Comparator/TableRowActions.twig' %}
        </td>
        <td class="cell-center">
            {% include 'Backend/I18n/Snippets/Components/Comparator/ItemControl.twig' with {
                rowIndex: rowIndex,
                snippet: snippet2,
                side: 'language2'
            } only %}
        </td>
        <td>
            {% include 'Backend/I18n/Snippets/Components/Comparator/ItemEditor.twig' with {
                rowIndex: rowIndex,
                side: 'language2',
                snippet: snippet2,
                otherSnippet: snippet1,
                language: language2,
                name: item.name,
            } only %}
        </td>
    </tr>
{% endif %}
