<div class="btn-group">
    <button class="btn btn-default module-i18n-snippet-comparator-language-copy" type="button" tabindex="-1"
            title="{{ i18n('backend_i18n_snippet_comparator_copy_left', {en: 'copy right to left', de: 'kopiere von rechts nach links'}) }}"
            data-src="language2" data-dst="language1">
        <i class="fa fa-caret-left"></i>
    </button>
    <button class="btn btn-default module-i18n-snippet-comparator-language-copy" type="button" tabindex="-1"
            title="{{ i18n('backend_i18n_snippet_comparator_copy_right', {en: 'copy left to right', de: 'kopiere von links nach rechts'}) }}"
            data-src="language1" data-dst="language2">
        <i class="fa fa-caret-right"></i>
    </button>
</div>
